@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

/* Kevin Powell resets */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* end of resets */

:root {
	--clr-base: 25, 23, 36;
	--clr-surface: 31, 29, 46;
	--clr-overlay: 38, 35, 58;
	--clr-muted: 110, 106, 134;
	--clr-subtle: 144, 140, 170;
	--clr-text: 224, 222, 244;
	--clr-love: 235, 111, 146;
	--clr-gold: 246, 193, 119;
	--clr-rose: 235, 188, 186;
	--clr-pine: 49, 116, 143;
	--clr-foam: 156, 207, 216;
	--clr-iris: 196, 167, 231;
	--clr-highlight-low: 33, 32, 46;
	--clr-highlight-med: 64, 61, 82;
	--clr-highlight-high: 82, 79, 103;

	--clr-bg1: var(--clr-base);
	--clr-bg2: var(--clr-overlay);
	--clr-shadow: var(--clr-base);

	--ff-mono: "Fira Code", monospace;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-bold: 700;
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--fs-sm: clamp(0.8rem, 0.25vw + 0.737rem, 0.938rem);
		--fs-base: clamp(1rem, 0.455vw + 0.886rem, 1.25rem);
		--fs-md: clamp(1.25rem, 0.757vw + 1.061rem, 1.666rem);
		--fs-lg: clamp(1.563rem, 1.197vw + 1.263rem, 2.221rem);
		--fs-xl: clamp(1.953rem, 1.832vw + 1.495rem, 2.961rem);
		--fs-xxl: clamp(2.441rem, 2.737vw + 1.757rem, 3.947rem);
		--fs-xxxl: clamp(3.052rem, 4.017vw + 2.048rem, 5.261rem);
	}
}

/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--fs-sm: 0.8rem;
		--fs-base: 1rem;
		--fs-md: 1.25rem;
		--fs-lg: 1.563rem;
		--fs-xl: 1.953rem;
		--fs-xxl: 2.441rem;
		--fs-xxxl: 3.052rem;
	}

	@media screen and (min-width: 1280px) {
		:root {
			--fs-sm: 0.938rem;
			--fs-base: 1.25rem;
			--fs-md: 1.666rem;
			--fs-lg: 2.221rem;
			--fs-xl: 2.961rem;
			--fs-xxl: 3.947rem;
			--fs-xxxl: 5.261rem;
		}
	}
}

/* debug bounding boxes */
/* html * { */
/* 	border: 1px solid rgb(var(--clr-rose)); */
/* } */

body {
	color: rgb(var(--clr-text));
	background: radial-gradient(at center top, rgb(var(--clr-bg2)), rgb(var(--clr-bg1)));
	background-attachment: fixed;

	font-family: var(--ff-mono);
	font-size: var(--fs-base);
}

#notice {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 1em;

	padding: 0.5rem;
	margin: 2rem;
	position: fixed;
	right: left;

	font-style: italic;
	font-size: var(--fs-sm);

	color: rgb(var(--clr-text));
	background-color: transparent;
}

#notice>i {
	opacity: 0;
	margin-left: 0;
	transition:
		opacity 0.5s ease,
		margin-left 0.5s ease;
}

#notice>i[data-display="1"] {
	opacity: 1;
	margin-left: 1ch;
}

#toggle-dark-mode {
	color: rgb(var(--clr-text));
	background-color: transparent;

	border: none;
	border-radius: 1em;

	padding: 0.5rem;
	margin: 2rem;
	position: fixed;
	right: 0;
}

#down {
	font-size: var(--fs-lg);
	width: max-content;
	align-self: center;

	color: rgb(var(--clr-text));
	background-color: transparent;

	border: none;
	border-radius: 1em;
	padding: 0.5rem;
}

#down:hover,
#toggle-dark-mode:hover {
	background-color: rgb(var(--clr-highlight-med));
	cursor: pointer;
}

.page {
	display: grid;
	place-items: center;

	width: 100%;
	height: 100vh;
}

#landing {
	width: 80%;
	max-width: 1280px;
	position: fixed;

	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}

#hero {
	width: max-content;
	align-self: center;

	display: flex;
	flex-direction: column;
}

#hero>h1 {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-shadow: 0.5rem 0.5rem rgb(var(--clr-shadow));
}

#hero>p {
	color: rgb(var(--clr-love));
	font-size: var(--fs-sm);
	font-weight: var(--fw-medium);

	align-self: end;
}

#rr {
	color: rgb(var(--clr-love));
}

#last-name {
	color: rgb(var(--clr-foam));
}

#search-bar {
	padding: 0.75rem;

	border: 2px solid rgb(var(--clr-highlight-high));
	border-radius: 0.75rem;

	color: rgb(var(--clr-text));
	background: rgb(var(--clr-surface));

	font-size: var(--fs-base);
}

#info {
	font-size: var(--fs-md);
	font-weight: var(--fw-bold);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.75;
}

@media screen and (max-width: 640px) {
	#info {
		grid-template-columns: 1fr;
	}
}

.info-section>ul {
	list-style-type: none;
}

.info-section>ul>li {
	font-size: var(--fs-base);
	font-weight: var(--fw-regular);
}

@keyframes emphasize {
	0% {
		opacity: 0.25;
		font-size: var(--fs-sm);
	}

	100% {
		opacity: 1;
		font-size: var(--fs-base);
	}
}

.info-item {
	opacity: 1;
	line-height: var(--fs-md);
	font-size: var(--fs-base);
	transition:
		opacity 0.5s ease,
		font-size 0.5s ease;
}

.info-item[data-highlighted="0"] {
	opacity: 0.25;
	font-size: var(--fs-sm);
}

.page-container {
	width: 80%;
	height: 80%;
	max-width: 1280px;

	padding: 5rem;
	border: rgb(var(--clr-muted)) solid 2px;
	backdrop-filter: blur(2rem);
	border-radius: 0.5rem;
}

.content {
	overflow-y: scroll;
	max-height: 90%;
}

.page-container>h1 {
	color: rgb(var(--clr-gold));
	font-size: var(--fs-lg);
	font-weight: var(--fw-bold);
	margin: 6pt 0;
}

.page-container>a {
	color: rgb(var(--clr-iris));
}

.page-container>a:hover {
	text-decoration: 1px underline rgb(var(--clr-iris));
}

.prev {
	float: right;
}

.next {
	float: right;
	margin-left: 2ch;
}

h2 {
	font-size: var(--fs-md);
	font-weight: var(--fw-medium);
	margin: 6pt 0;
}

h3 {
	font-size: var(--fs-base);
	font-weight: var(--fw-bold);
	margin: 6pt 0;
}

.page-container p {
	margin-top: 1em;
}

a {
	color: rgb(var(--clr-text));
	text-decoration: none;
	text-underline-offset: 6px;
	cursor: pointer;
}

a:hover {
	text-decoration: solid underline rgb(var(--clr-text)) 1px;
}

.cards-container {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	max-width: 98%;
}

#languages .card {
	width: 20%;
}

#works .card {
	width: 40%;
	padding: 0;
}

.card {
	flex: 0 0 auto;
	padding: 1em;
	margin: 1em;
	border: 2px solid rgb(var(--clr-highlight-high));
	border-radius: 0.5rem;

	li {
		padding-left: 1em;
		list-style: none;
	}
}

#works>.card>div {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1em;
	border-radius: inherit;
	background: rgba(var(--clr-base), 0);
	color: rgba(var(--clr-text), 0);
	cursor: pointer;
}

#works>.card>div:hover {
	transition:
		background 0.5s ease,
		backdrop-filter 0.5s ease,
		color 0.5s ease;
	background: rgba(var(--clr-base), 0.9);
	backdrop-filter: blur(5pt);
	color: rgba(var(--clr-text), 1);
}

#pubrams {
	background: url(../assets/pubrams.png);
	background-size: cover;
	background-position: center;
}

#dwindlist {
	background: url(../assets/dwindlist.png);
	background-size: cover;
	background-position: center;
}

#dwindlist:hover {
	background: rgba(var(--clr-base), 0.9) url(../assets/dwindlist.png);
	background-size: cover;
	background-position: center;
}

#portfolio {
	background: url(../assets/portfolio.png);
	background-size: cover;
	background-position: center;
}

#portfolio:hover {
	background: rgba(var(--clr-base), 0.9) url(../assets/portfolio.png);
	background-size: cover;
	background-position: center;
}

#docket {
	background: url(../assets/docket.png);
	background-size: cover;
	background-position: center;
}

#docket:hover {
	background: rgba(var(--clr-base), 0.9) url(../assets/docket.png);
	background-size: cover;
	background-position: center;
}
